Assignment1/pdf/
Assignment1/writeup.docx
Assignment1/~WRL2916.tmp
Assignment2/.gitignore
Assignment2/Assignment2/.vs/
Assignment2/Assignment2/1-spread.pdf
Assignment2/Assignment2/1.pdf
Assignment2/Assignment2/2-fullspread.pdf
Assignment2/Assignment2/2-fullspread.ps
Assignment2/Assignment2/2-spread.pdf
Assignment2/Assignment2/2.pdf
Assignment2/Assignment2/3-spread.pdf
Assignment2/Assignment2/3.pdf
Assignment2/Assignment2/3.ps
Assignment2/Assignment2/Assignment2.sdf
Assignment2/Assignment2/Assignment2.sln
Assignment2/Assignment2/Assignment2.vcxproj
Assignment2/Assignment2/Assignment2.vcxproj.filters
Assignment2/Assignment2/Assignment2.vcxproj.user
Assignment2/Assignment2/Debug/
Assignment2/Assignment2/writeup.pdf
Assignment2/Assignment2/writeup.zip
Assignment2/Assignment2/x64/
Assignment2/writeup.docx
Assignment2/~$riteup.docx
Assignment3/.vs/
Assignment3/Assignment3.sdf
Assignment3/Assignment3.sln
Assignment3/Assignment3.vcxproj
Assignment3/Assignment3.vcxproj.filters
Assignment3/Assignment3.vcxproj.user
Assignment3/Debug/
Assignment3/ECE1287 Assignment 3.docx
Assignment3/graph1.pdf
Assignment3/graph2.pdf
Assignment3/graph3.pdf
Assignment3/graph4.pdf
Assignment3/out
Assignment3/~$E1287 Assignment 3.docx
Assignment3/~WRL1596.tmp
Exercise1/
SuiteSparse-4.4.5.tar.gz
easygl/Debug/
easygl/Release/
easygl/easygl.sdf
easygl/easygl.v12.suo
easygl/easygl.vcxproj.user
easygl/example.o
easygl/graphics.o
makefiles.zip
test/
